<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @person.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @person.zip_code %>
</p>

<p>
  <strong>Case number:</strong>
  <%= @person.case_number %>
</p>

<p>
  <strong>Items</strong>
  <% @person.items.each do |item| %>
  <p><%= link_to  "Category: #{item.category} Date: #{item.updated_at}", item_path(item) %></p>
    <% end %>
</p>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
