<h1>New item</h1>

<%= render 'form' %>

<%= link_to 'Back', items_path %>

<br>

<%= link_to 'New Person', new_person_path %>
<%= link_to 'View People', people_path %>
<br>
<%= link_to 'Dashboard', root_path %>
